
body {
    font: 14px/1.4 "Helvetica Neue", Arial, sans-serif;
    background-color: #eee;
}
.ghbtns { position: relative; top: 4px; margin-left: 5px; }

a { color: blue; }


.col {
    position: relative;
}
    .col--left {
        width: 40%;
        float: left;
    }
    .col--right {
        width: 60%;
        float: right;
    }
    .col__inner {
        margin: 20px;
    }

.site-title {
    color: blue;
}

#map {
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    border: 1px solid #ccc;
}


.slider {
  -webkit-appearance: none;
  min-width: 100px;
  height: 10px;
  background: #ccc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 05px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

input[type=text],
input[type=number] {
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: blue;
    border: none;
    color: white;
    padding: 12px 30px;
    text-transform: uppercase;
}
    button:hover {
        background-color: #0300b8;
        cursor: pointer;
    }

.search-ui {
    position: relative;
    width: 100%;
    margin: 20px 0;
}
    .search-ui__group {
        width: 100%;
        margin-bottom: 20px;
    }
        .search-ui__group__title {
            font-size: 11px;
            text-transform: uppercase;
            margin-bottom: 5px;
            color: #404040;
        }
    .search-ui__rad__slider {
        width: 70%;
        max-width: 350px;
    }
    .search-ui__rad__input {
        width: 45px;
    }
    .search-ui__query {
        min-width: 405px;
    }


#graph {
    margin: 10px 0;
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #ccc;
}
.graph__side {
    position: absolute;
    height: 100%;
    top: 0;
    width: 0;
}
    .graph__side span {
        position: absolute;
        top: 2px;
        font-size: 30px;
        line-height: 30px;
        color: white;
    }
.graph__side--neg {
    left: 0;
    background-color: red;
}
    .graph__side--neg span {
        left: 20px;
    }
.graph__side--pos {
    right: 0;
    background-color: cyan;
}
    .graph__side--pos span {
        right: 20px;
    }


.timeChart {
    width: 100%;
    //height: 350px;
    margin: 30px 0;
    background-color: white;
}
    .timechart_inner {
        padding: 10px;
        position: relative;
    }

.log-message {
    width: 100%;
    margin-bottom: 10px;
}
    .log-message__item {
        background-color: #ccc;
        padding: 10px 15px;
    }

.log-tweets__item {
    padding: 15px;
    background-color: white;
    margin: 5px 0;
}
